*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #000;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.contenedor{
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24em;
    flex-wrap: wrap;
    text-align: center;
}
.contenedor-reloj{
    display: flex;
    justify-content: center;
    align-items: center;
}
#reloj{
    color: #999;
    font-size: 8em;
    width: 100%;
}

.menu-botones{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
}

.boton{
    margin: auto .5em;
    padding: 2px 1.5em;
    font-size: 20px;
    border: 2px solid #999;
    border-radius: 20px;
    background-color: #000;
    color: #999;
    cursor: pointer;
    font-weight: 700;
    width: 40%;
}


.boton:hover{
    border-color: #999;
    background-color: #999;
    color: #000;
}

.reset:hover{
    border-color: #e22;
    background-color: #e22;
    color: #000;
}

/* milisegundos*/

.milisegundo{
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 30px;
    background: #444;
}

.milisegundo-animacion-par{
    animation-name: milisegundos-anim-par;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.milisegundo-animacion-impar{
    animation-name: milisegundos-anim-impar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.milisegundo-final{
    background: #999;
}

@keyframes milisegundos-anim-par{
    0%{
        background-color: #999;
    }

    100%{
        background-color: #444;
    }

}

@keyframes milisegundos-anim-impar{
    0%{
        background-color: #999;
    }

    100%{
        background-color: #444;
    }

}

/* responsive*/

@media only screen and (max-width:500px){
    .contenedor{
        flex-direction: column;
        justify-content: space-between;
    }
    .contenedor-reloj{
        margin-top: 60px;
    }

    #reloj{
        font-size: 6em;
    }

    .menu-botones{
        justify-content: space-around;
        margin-bottom: 30px;
    }

    .boton{
        padding: 0%;
        width: 5em;
        height: 5em;
        border-radius: 50%;
        text-align: center;
    }

    .reset{
        color: #e22;
        border-color: #e22;
    }

    .boton:hover{
        border-color: #999;
        background-color: #000;
        color: #999;
    }
    
    .reset:hover{
        color: #e22;
        border-color: #e22;
    }

    .boton:active{
        border-color: #999;
        background-color: #999;
        color: #000;
    }

    .reset:active{
        border-color: #e22;
        background-color: #e22;
        color: #000;
    }
}

